.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client-list__item {
  flex-basis: calc((100% - 30px) / 2);
}

.client-list__link {
  @extend %align;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;

  transition: border var(--transition-dur-and-funk);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.client-list__icon {
  fill: #afb1b8;

  transition: fill var(--transition-dur-and-funk);

  .client-list__link:hover &,
  .client-list__link:focus & {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .client-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client-list__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

