.footer-blocks {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-them-dark);
}

.footer_logo {
  display: block;
  margin-bottom: 20px;
}

.logo__part-two_theme_white {
  color: #ffffff;
}

.contacts-list__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts-list__link {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--transition-dur-and-funk);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-list__link_theme_white {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  transition: color var(--transition-dur-and-funk);
}

.footer-social-links-titel {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-social-list__link {
  @extend %align;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transition-dur-and-funk);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social-list__icon {
  fill: var(--secondary-text-color);
}

.footer-form-titel {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
}

.footer-form__input {
  color: var(--secondary-text-color);
  width: 358px;
  height: 50px;
  background-color: var(--background-color-them-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border-color var(--transition-dur-and-funk);
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn-submit {
  @extend %align;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 0;
  background-color: var(--accent-color);
  @include font (16px, 700, 30px);
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: box-shadow var(--transition-dur-and-funk);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.footer-form__icon {
  margin-left: 10px;
}
